# config.yaml.example
endpoint: http://minio:9000
access_key: your_key
secret_key: your_secret

#ADZUNA_API
ADZUNA_APP_ID: your_API_id
ADZUNA_APP_KEY: your_API_key

#POSTGRE
POSTGRES_USER: your_account_user_db
POSTGRES_PASSWORD: your_password_db