# =========================
# Secrets
# =========================
.env
*.env
config/secrets.yaml
config/*.key

# =========================
# Logs
# =========================
logs/
*.log
.ipynb_checkpoints
*.ipynb_checkpoints

# =========================
# Data Lake
# =========================
data/
bronze/
silver/
gold/
*.parquet
*.csv
*.json
*.orc

# =========================
# MinIO / Docker volumes
# =========================
minio_data/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store