services:
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9001:9001"   
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  spark:
    build:
      context: .
      dockerfile: docker/dockerfile.spark
    container_name: spark
    ports:
      - "8888:8888"
    volumes:
      - ./ingestion:/home/jovyan/ingestion
      - ./processing:/home/jovyan/processing
      - ./config:/home/jovyan/config
      - ./core:/home/jovyan/core
      - ./logs:/home/jovyan/logs
    working_dir: /home/jovyan
    environment:
      - PYTHONPATH=/home/jovyan
    depends_on:
      - minio
    command: >
      start-notebook.sh
      --NotebookApp.token=''
      --NotebookApp.password=''

volumes:
  minio_data:
